



#navbarNav .dropdown-menu .dropdown-item:hover{
    background-color: rgba(160, 160, 160, 0.829);
}
#navbar .nav-link:hover{
    text-decoration: underline;
    color: black;
}

#footer.container ul li{
    color: black;
    text-decoration: none;
    list-style: none;
}

#footer.container ul li a{
    text-decoration: none;
    color: black;
}
#footer.container ul li a:hover{
    padding-left: 5px;
}